#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
           &kp ESC    &kp N1     &kp N2  &kp N3  &kp N4  &kp N5  &kp F1    &kp TAB    &kp Q       &kp W  &kp E      &kp R   &kp T     &kp F2
           &kp LSHFT  &kp LS(A)  &kp S   &kp D   &kp F   &kp G   &kp F3    &kp LCTRL  &kp Z       &kp X  &kp C      &kp V   &kp B     &kp F4
           &kp LCTRL  &kp Z      &kp X   &kp C   &kp V   &kp B   &kp F4    &kp LBKT   &kp RBKT    &kp K  &kp SPACE  &kp N1  &kp HOME  &kp BSPC
&kp GRAVE
            >;
//конец bindings
        };
    };
};
