#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
        &kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5    &trans                 &trans  &kp N6     &kp N7    &kp N8     &kp N9    &kp N0    &kp MINUS
        &trans     &trans     &trans    &trans    &trans     &trans    &trans                 &trans  &trans     &trans    &trans     &trans    &trans    &trans
        &trans     &trans     &trans    &trans    &trans     &trans    &trans                 &trans  &trans     &trans    &trans     &trans    &trans    &trans
&trans  &trans     &trans     &trans    &trans    &trans     &trans                                   &trans     &trans    &trans     &trans    &trans    &trans     &trans
        &trans     &kp GRAVE  &kp BSLH  &kp LEFT  &kp RIGHT                                                      &kp UP    &kp DOWN   &kp LBKT  &kp RBKT  &trans
                                                                       &kp LCTRL  &kp RGUI                       &kp LALT  &kp LCTRL
                                                             &kp BSPC  &kp DEL    &kp HOME            &kp PG_UP  &kp RET   &kp SPACE
                                                                                  &kp END             &kp PG_DN
            >;
        };
    };
};
